.sliper {
  height: calc(100vh - 60px);
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  background-color: #111;
  z-index: 12;
  margin-top: 60px;
  -moz-transition:.3s ease;
  -webkit-transition:.3s ease;
  -o-transition:.3s ease;
  -ms-transition:.3s ease;
  padding-top: 24px;
}

.sliper li {
  list-style: none;
  line-height: 48px;
  padding: 0 24px;
  cursor: pointer;
  -moz-transition:.3s ease;
  -webkit-transition:.3s ease;
  -o-transition:.3s ease;
  -ms-transition:.3s ease;
  color: #fff;
}

.sliper a li {
  color: #fff;
}

.sliper li:hover {
  background-color: #333;
}

.sliper-open {
  left: 0;
}
